[app]
name = "APP-NAME"
env = "local"
owner = "zidni722@gmail.com"
 
[database]
connection = "mysql"
host = "localhost"
port = 3306
name = "dbname"
username = "root"
password = "secret"
charset = "utf8"
loc = "Local"
 
[token]
key = "secret"
issuer = "zidni"
 
[utilities]
ui_avatar_url = "https://ui-avatars.com/api"